{{- $comments_js := resources.Get "js/tinycomments.js" | resources.ExecuteAsTemplate "tinycomments.js" . | minify | fingerprint }}
<script src="{{ $comments_js.RelPermalink }}" integrity="{{ $comments_js.Data.Integrity }}"></script>
{{- if eq .Params.commentsLocked true }}
  <div id="newcomment">
    <p>Comments are locked on this post.</p>
  </div>
{{- else }}
  <div id="newcomment">
    Name: <input type="text" id="commentName"/> This will be displayed with your post<br/>
    Email: <input type="text" id="commentEmail"/> This isn't visible to or shared with anyone except me (the site owner)<br/>
    Comment: <textarea id="commentText"></textarea><br/>
    <input id="commentButton" type="button" value="Comment!"/>
    <i id="commentStatus"></i>
  </div>
{{- end }}
<br/>
<div id="commentCount"></div>
<div id="comments">
  <ul id="rootCommentList">
  </ul>
</div>
